# Assignment

In [ ]:
## Assign an int to a variable with name x and print its type.
x = 4
print(type(x))

## Assign a new value with str type to the same variable x and print its type.
x = 'four'
print (type(x))

<class 'int'>
<class 'str'>

In [ ]:
## Print the value of a variable that has not been defined, see what error do you get:
print (type(y))

NameError: ignored

# Operators and comparisons

In [ ]:
## Print the sum, difference, multiplication, and division between 1 and 2.

add = 1+2

diff = 1-2

mult = 1*2

div = 1/2

print (add,"," , diff,",", mult,",", div)

3 , -1 , 2 , 0.5

In [ ]:
## Carry out Integer division of two float numbers.

5.2/3.2

1.625

In [ ]:
## What is the value of 2 Power 15?
2**15

32768

In [ ]:
## Compare two boolean True and False

True == False

False

In [ ]:
## Use False to get True

False or not False

True

In [ ]:
## Include both False and True in your code to get True

False or True

True

In [ ]:
## Use two different ways:

## == to check if l1 and l2 have equal values
## is to check if l1 and l2 point to the same object in memory

l1 = [1, 2]
l2 = [1, 2.0]

11 == 12

11 12

False

In [ ]:
l1 = [1, 2]
l2 = [1, 2.0]

if l1 is l2:
    print("Yes")
else:
    print("No")

No

# Strings

In [ ]:
## Create three string variables, and use one print to display all three variables.

x = 'Adriana'
y = 'Beatriz'
z = 'González'

print (x,y,z)

Adriana Beatriz González

In [ ]:
## Check the length of "Hello world!".

x = 'Hello world!'

len (x)

12

In [ ]:
## Get the index 0 character in a string.

x = 'Hello world!'

first_position = x[0]

print (first_position)

H

In [ ]:
##Get the first 3 characters in a string.

x = 'Hello world!'

first_three_positions = x[0:3]

print (first_three_positions)

Hel

In [ ]:
## Use a start index and a stop index to get the fifth character in a string.
## s = Red Ventures

s = "Red Ventures"
fifth_character = s[4:5]

print(fifth_character)

V

In [ ]:
## Get the last character in a string.

s = "Red Ventures"

last = s[-1]

print (last)

s

In [ ]:
## Print out the following strings:

##'    Everything is written in pencil.'

##'Everything is written
 ##in pencil.'

##'Everything \ is written \ in pencil.'

##'Red Ventures brands, just list a few:
##   * Bankrate
##   * Reviews.com
##   * the Points Guy
##   * creditcards.com'

s = "Everything is written in pencil"

print("\t" + s)

	Everything is written in pencil

In [ ]:
s = "Everything is written in pencil"
second_line ="in "

new_s = s.replace(second_line, "\n" + second_line)

print (new_s)

Everything is written
in pencil

In [ ]:
s = "Everything is written in pencil"

words = s.split()

result = " \\ ".join(words)

print(result)

Everything \ is \ written \ in \ pencil

In [ ]:
names = ["Bankrate", "Reviews.com", "the points guy"]

print (names)

for name in names:
  print (name)

['Bankrate', 'Reviews.com', 'the points guy']
Bankrate
Reviews.com
the points guy

In [ ]:
## Convert all letters to lower cases.

s = 'RED FISH'

print (s.lower())

red fish

In [ ]:
## Check if string starts with r

s = 'Run Up Escalators'

s[0] == 'r'

False

In [ ]:
## Find the index of the single quote.
s = "You don't have to lie."
index = s.index("'")

print(index)

7

# Type Casting

In [ ]:
## Cast variable z to int and print its type.

z = 4
z = int(z)

print (type(z))

<class 'int'>

In [ ]:
## Are the types of 1 + 2 and 1.0 + 2 the same?

x = 1+2
y = 1.0 +2

print (type(x),type(y))
type (x) == type (y)

<class 'int'> <class 'float'>

False

In [ ]:
## Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.

num_int = 4

num_str = "Adri"

print (num_int, num_str )

4 Adri

In [ ]:
## What happens if you cast -1 to a boolean?

x=4

boolean_value = bool (x)

print (boolean_value)

True

# Standard Library

In [ ]:
## Import math module and calculate e^4

import math

result = math.exp(4)

print(result)

54.598150033144236

In [ ]:
## Calculate the value of log2(8)

import math

result = math.log2(8)

print(result)

3.0

In [ ]:
## Calculate the value of sqr 100

import math

result = math.sqrt(100)

print(result)

10.0

# List

In [ ]:
# TODO
# Let's create an empty list
my_list = []

# Let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'

# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

print(my_list)

['Python', 'is neat']

In [ ]:
##  Create a new list without modifying the original one
original = ['I', 'am', 'learning', 'hacking', 'in']

modified = ['I', 'am', 'learning', 'lists', 'in', 'Python']

assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert modified == ['I', 'am', 'learning', 'lists', 'in', 'Python']

print (original, modified)

['I', 'am', 'learning', 'hacking', 'in'] ['I', 'am', 'learning', 'lists', 'in', 'Python']

In [ ]:
## Create a merged sorted list (descending order)

list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

my_list = sorted(list1 + list2 + list3, reverse=True)

print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

In [ ]:
## Loop through a list

## If an item is a float, cast the float to int.
## If an item is an int, cast the int to float
## Hint: use isinstance()

loop_list1 = [1101, 704.971, 'Fort Mill']

## for loop

for x in loop_list1:
  if isinstance(x,float):
    float_num = x
    print (x)
int_num = int(float_num)
print(int_num)

704.971
704

# Tuples

In [1]:
## Fill the ___ parts of code below

# create a tuple with items of different data types
my_tuple =["Adriana", 26, 5.0]
print(my_tuple, type(my_tuple))

['Adriana', 26, 5.0] <class 'list'>

In [3]:
# Unpack my_tuple in several variables
(green,yellow,red)= my_tuple

print(green)
print(yellow)
print(red)

Adriana
26
5.0

In [4]:
# convert my_tuple to list and assign to variable my_list
my_list = list(my_tuple)
print(my_list, type(my_list))

['Adriana', 26, 5.0] <class 'list'>

In [5]:
# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = tuple(my_list)
print(my_new_tuple, type(my_new_tuple))

('Adriana', 26, 5.0) <class 'tuple'>

In [6]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))

(1101, 'Red', 'Ventures', 'Drive') <class 'tuple'>

In [7]:
# check id
print(id(rv_tuple))

133189233554944

In [8]:
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))

(1101, 'Red', 'Ventures', 'Drive', 29707) <class 'tuple'>

In [9]:
# check id
print(id(rv_tuple))

133189584156240

In [12]:
## same exercise as a list

rv_list = [1101, 'Red', 'Ventures', 'Drive']
print(rv_list, type(rv_list))
print(id(rv_list))

[1101, 'Red', 'Ventures', 'Drive'] <class 'list'>
133189234140352

In [14]:
## modifying the variable
rv_list = rv_list + [5546,]
print(rv_list, type(rv_list))
print(id(rv_list))

[1101, 'Red', 'Ventures', 'Drive', 5546, 5546] <class 'list'>
133189584466112

# Define Functions

In [41]:
# TODO
def check_case(x):
  uppercase_number = 0
  lowercase_number = 0
  for y in x:
      if y.isupper():
          uppercase_number += 1
      else:
          lowercase_number += 1
      ##return uppercase_number, lowercase_number
  print ('No. of upper case letters', uppercase_number)
  print ('No. of lower case letters', lowercase_number)

x = 'This is Week3 Python Programming Homework.'
check_case(x)

No. of upper case letters 5
No. of lower case letters 37

# Dictionary

In [44]:
## Fill the parts of the code below

# TODO
# create an empty dictionary
my_dict = {}
print(my_dict, type(my_dict))

{} <class 'dict'>

In [51]:
# create a dictionary with values
my_dict = {'x1':"Adriana",'x2':"Gonzalez"}
print(my_dict, type(my_dict))
my_dict ['x3'] ="Montanez"
print(my_dict)
my_dict.pop("x3")
print(my_dict)

{'x1': 'Adriana', 'x2': 'Gonzalez'} <class 'dict'>
{'x1': 'Adriana', 'x2': 'Gonzalez', 'x3': 'Montanez'}
{'x1': 'Adriana', 'x2': 'Gonzalez'}

In [57]:
## Sort dictionary
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
sorted_dict = dict(sorted(location_dict.items()))

print(sorted_dict)

{'Austin': 'TX', 'Charlotte': 'NC', 'Los Angeles': 'CA', 'New York': 'NY'}

In [65]:
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
sorted_dict = dict(sorted(location_dict.items(),reverse=True))

print(sorted_dict)

{'New York': 'NY', 'Los Angeles': 'CA', 'Charlotte': 'NC', 'Austin': 'TX'}

# Set

In [67]:
# TODO
# create a set
my_set = set()
print(my_set, type(my_set), '\n')

set() <class 'set'>

In [68]:
# create a set with values
my_set = {"adriana", "gonzalez", "montanez"}
print(my_set, type(my_set), '\n')

{'montanez', 'gonzalez', 'adriana'} <class 'set'>

In [79]:
# add a new value to my_set
# the value should be a different
my_set.add(6)
print(my_set, '\n')

my_set.remove(6)
print(my_set, '\n')

{6, 'gonzalez', 'montanez', 'adriana'}

{'gonzalez', 'montanez', 'adriana'}

In [100]:
## set manipulation

## Use a list with duplicated values and a tuple to create two sets respectively, and get a union set between those two.

my_list = ['adriana', 'adriana', 'gonzalez', 'montanez']
my_tuple = (1,2,3,4)

set1 = set(my_list)
set2 = set(my_tuple)
set3 = set1 | set2

print (set1, type(set1))
print (set2, type(set2))
print (set3, type(set3))

{'montanez', 'gonzalez', 'adriana'} <class 'set'>
{1, 2, 3, 4} <class 'set'>
{1, 2, 'gonzalez', 3, 4, 'montanez', 'adriana'} <class 'set'>

In [99]:
## Create two sets my_set1 and my_set2, and get values in my_set1 but not in my_set2.

my_set1 = {1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8}

result = my_set1 - my_set2

print(result)

{1, 2, 3}

# DataFrames

In [101]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Download the CSV from the above url.
# This csv is separated by a ';' so we need to add that as a parameter to the read_csv method.
df = pd.read_csv(url, sep=';')

In [103]:
 ## Show the first 6 rows of the df dataframe
 df. head(6)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [105]:
## Print out the summary statistics for each dataframe column
print(df.describe())

       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000